@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full m-0 p-0 bg-gray-100 font-sans;
}

/* * {
  @apply box-b   p-0;
} */

body {
  @apply grid grid-rows-[1fr,10rem,auto] overflow-x-hidden;
}

#root {
  @apply flex flex-col min-h-full;
}

nav {
  @apply h-[110px] flex items-center justify-between px-6 py-5 shadow-md bg-white relative;
}

.nav--logo {
  @apply w-auto h-[110px] absolute top-0 left-0 mt-0 ml-0;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.nav--links {
  @apply flex items-center space-x-4 text-lg ml-auto;
}

.nav--logo:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}


.nav--links a {
  @apply text-gray-800 no-underline hover:text-blue-500 transition-colors;
}

/* Footer Styles */
footer {
  @apply bg-gray-800 text-white p-5 text-center static  bottom-0 left-0 w-full shadow-inner;
}

/* Service Section */

.services {
  @apply p-12 bg-gray-100 text-center;
}

.service-cards {
  @apply flex justify-center items-center gap-5 flex-wrap;
}

.card {
  @apply bg-white rounded-lg shadow-lg w-full sm:w-[30%] p-5 text-center cursor-pointer transform transition-transform duration-500 hover:scale-105 hover:rotate-3 hover:shadow-2xl;
}

/* Form Styles */
.login-container, .signup-container {
  @apply max-w-sm mx-auto my-20 p-5 border border-gray-300 rounded-md shadow-lg bg-white;
}

form {
  @apply flex flex-col;
}

.form-group {
  @apply mb-4;
}

label {
  @apply block mb-2 text-gray-600;
}

input {
  @apply w-full p-2 border border-gray-300 rounded-md focus:border-blue-500 focus:ring-2 focus:ring-blue-200;
}

button {  
  @apply w-auto px-5 py-3 bg-blue-600 text-white text-base rounded-md hover:bg-blue-700 transition-colors;

}

/* Popup Styles */
.popup {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center;
}

.popup-inner {
  @apply bg-white p-5 rounded-md relative w-72 max-w-4/5 shadow-lg;
}

.close-btn {
  @apply absolute top-2 right-2 cursor-pointer bg-red-600 text-white p-1 rounded-sm;
}

/* styles.css */
.landing-page {
  @apply relative bg-gray-900;
}

.landing-page h1 {
  @apply text-4xl font-bold;
}

.landing-page p {
  @apply text-lg;
}

.landing-page button {
  @apply bg-blue-600 text-white rounded-md px-4 py-2 transition hover:bg-blue-700;
}

/* styles.css */
.close-btn {
  @apply absolute top-2 right-2 cursor-pointer bg-red-600 text-white border-none p-1 rounded-sm;
}

.new-btn{
  
}